/* Write your CSS here */
/* Write your CSS here */
.footer-container {
  background-color: #cbd5e1;
  margin-top: 10px;
  text-align: center;
  align-self: stretch;
}
.footer-text {
  color: #475569;
  font-size: 28px;
  font-family: Roboto;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 32px;
  }
}
